@import url("https://fonts.forwardogleapis.com/css?family=Source+Sans+Pro:400,300,200,600,900,700");
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  touch-action: none;
  overflow: hidden; }

div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#main {
  position: relative; }

#left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(0, 255, 0, 0.1); }

#right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 255, 0.1); }

#left span, #right span {
  display: block;
  font-size: 2em;
  text-align: center;
  opacity: .8;
  color: #c9c9c9;
  margin-top: .5rem; }

#left img, #right img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  opacity: 0.1;
  margin: 2rem;
  z-index: -10; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
